<!HTML code for result page of function check_graduate().User will be redirected to this page after pressing
button "Verify diploma" on page checkgraduate.html (if all inputs are correct).>
{% extends 'base.html' %}

{% block content %}
    <center><a href="https://imgbb.com/"><img src="https://i.ibb.co/sKVV03b/Picture1.png" alt="Logo" border="0" width="100" height="100" vspace="25" hspace="25"></a></center>
    <h1 align="center">Is the diploma genuine?</h1><br>
        {% for res in results %}
            <div class="results" >
                <h1 align="center"><strong style="color: blue;">{{res}}</strong></h1><br>
            </div>
        {% endfor %}
    <p align="justify"> A diploma (block) can either be genuine (the block is in the blockchain and all data match with an existing block)
        or fake (some of the data is inconsistent or there is not such block in the blockchain). </p>

    <form action="{{url_for('check_graduate')}}" method="GET">
        <center><button type="submit" class="btn btn-success">Verify another diploma</button></center>
    </form>

    <br>

    <form action="{{url_for('index')}}" method="GET">
        <center><button type="submit" class="btn btn-secondary">Go back to home menu</button></center>
    </form>

    <br>
{% endblock %}

