#html code for first page with the main menu, which contains buttons to be redirected to other three pages. We added a logo and a short descirption
{% extends 'base.html' %}

{% block content %}
    <center><a href="https://imgbb.com/"><img src="https://i.ibb.co/sKVV03b/Picture1.png" alt="Logo" border="0" width="100" height="100" vspace="25" hspace="25"></a></center>
    <h1 align="center">Welcome to the newest HSG diploma verification system!</h1><br>
    <p align="justify"> We have developed a revolutionary diploma verification sytem: a simple blockchain implementation in the form of a decentralized app (dAPP)
    that allows the university to add graduates to the diploma blockchain, and prospective universities or employees to verify if someone genuinely has graduated from HSG.
        In addition, we have implemented a block verification mechanism which enables you to test the validity of each block in the entire chain.</p>

    <h4 align = "center"> Click here to add a graduate: </h4>
    <form action="{{url_for('add_graduate')}}" method="GET">
        <center><button type="submit" class="btn btn-success">Add Graduate</button></center>
    </form>

    <br>

    <h4 align = "center"> Click here to verify a diploma: </h4>
    <form action="{{url_for('check_graduate')}}" method="GET">
        <center><button type="submit" class="btn btn-success">Verify Diploma</button></center>
    </form>

    <br>

    <h4 align = "center"> Click here to verify the entire blockchain: </h4>
    <form action="{{url_for('verification')}}" method="GET">
        <center><button type="submit" class="btn btn-success">Verify blockchain</button></center>
    </form>
{% endblock %}
